 nav, .contenedor, footer,article, header, .principal, aside{
     max-width: 93%;
     margin: auto;
     text-align: center;
     border-radius: 0.3em;
 }
 
 nav{
    background-color: rgb(19, 75, 56);
}
.contenedor{
    background-color: blueviolet;
}
footer{
    background-color: rgb(160, 107, 107);
}
article {
    background-color: rgb(231, 222, 222);
}
header{
    background-color: rgb(139, 111, 111);
}
.principal{
    background-color: rgb(41, 112, 45);
    display: inline-block;
    width: 65%;
    vertical-align: top;

}
aside{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 28%;
}
/* Menu */
.menu li{
    display: inline-block;
}
li a, btnDesplegable{
    display: inline-block;
    color: beige;
    padding: 0.9em 1em;
    text-align: center ;
    text-decoration:none ;
}
.contenidoDesplegable{
    display:none;
    position: absolute;
    background-color: cornsilk;
    min-width: 8em;
}
.contenidoDesplegable a{
    color: black;
    padding: 0.9em 1em;
    display:block ;
    text-align: left;
}
.contenidoDesplegable a:hover{
    background-color: darkcyan;
}
.desplegable:hover .contenidoDesplegable{
    display: block;
}
li a:hover{
   background-color: brown; 
}

